@page
@model FAMPro.Pages.AccountManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Accounts</h1>

<p>
    <a style="margin:10px 0 10px 0" class ="btn btn-primary" asp-page="Create">Create Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Credential[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credential[0].Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Credential) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.UserID">Edit</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.UserID">Delete</a>
            </td>           
        </tr>
}
    </tbody>
</table>

