@page
@model FAMPro.Pages.Assets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Asset Details</h1>

<div style="margin-bottom:20px">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.FixedAssetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.FixedAssetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.AcquiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.AcquiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.Narration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.Narration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.Life)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.Life)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.locationMaster.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.locationMaster.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.AssignedTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.AssignedTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.DisposedQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.DisposedQty)
        </dd>
        <dt style="margin-top:20px" class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.CreatedDate)
        </dt>
        <dd style="margin-top:20px" class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.CreatedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.CreatedUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.LastEditedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.LastEditedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedAssetsMaster.LastEditedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedAssetsMaster.LastEditedUser)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.FixedAssetsMaster?.FixedAssetId">Edit</a> |
    <input class="btn btn-primary" type="button" value="Print" onclick="window.print();" /> |
    <a class="btn btn-primary" href="javascript: history.go(-1)">Back to List</a>
</div>
